@import '@styles/base/variables';
@import '@styles/base/mixins';

.button {
	background: $white;
	color: $blue;
	padding: 10px 15px;
	font-weight: 800;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition:
		color 0.3s,
		background-color 0.3s;
	gap: 5px;

	&__icon {
		width: 24px;
		height: 24px;
		display: flex;
		flex: 0 0 24px;

		svg {
			width: 100%;
			height: 100%;

			path {
				stroke: $blue;
			}
		}
	}

	&__content {
		white-space: nowrap;
	}

	@include hoverDesktop {
		&:hover {
			background: $light-blue;
		}
		&:active {
			background: $white;
			transition:
				color 0.1s,
				background-color 0.1s;
		}
	}
	@include hoverMobile {
		&:active {
			background: $light-blue;
			transition:
				color 0.1s,
				background-color 0.1s;
		}
	}
	&_blue {
		background: $blue;
		&__icon {
			svg {
				path {
					stroke: $white;
				}
			}
		}
		.button__content {
			color: $white;
		}

		@include hoverDesktop {
			&:hover {
				background: $white;
				.button__content {
					color: $blue;
				}
			}
			&:active {
				background: $blue;
				.button__content {
					color: $white;
				}
				transition:
					color 0.1s,
					background-color 0.1s;
			}
		}
		@include hoverMobile {
			&:active {
				background: $white;
				.button__content {
					color: $blue;
				}
				transition:
					color 0.1s,
					background-color 0.1s;
			}
		}
	}
}
