$light-blue: #cee8ff;
$light-middle: #a8c8fa;
$blue: #307fe2;
$dark-blue: #2c488b;
$light-green: #95ff00;
$green: #a4d65e;
$white: #fff;
$black: #101820;
$red: red;

$light-gray: #e4e4e4;
$gray: #a7a7a7;
$dark-gray: #8a8d8f;
