$light-blue: #CEE8FF;
$light-middle: #A8C8FA;
$blue: #307FE2;
$dark-blue: #2C488B;
$light-green: #95FF00;
$green: #A4D65E;
$white: #fff;
$black: #101820;
$red: red;

$light-gray: #E4E4E4;
$gray: #A7A7A7;
$dark-gray: #8A8D8F;